<!DOCTYPE html>
{% extends "app/home.html" %}
{% load static %}
{% block title %}Rest password{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static '/css/password-reset.css' %}">{% endblock %}
{% block content %}
<div id="form-container">
    <div id="forgot_password">Forgot password?</div>
    <div id="forgot_password_info">Fill in your email and a link will be sent if an email is found.</div>
    <br>
    <form method="POST">
        {% csrf_token %}
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                {{form}}
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}