<!DOCTYPE html>
{% extends "app/home.html" %}
{% load static %}
{% block title %}Rest password{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static '/css/password-reset.css' %}">{% endblock %}
{% block content %}
<div id="form-container">
    <div id="forgot_password">Forgot password?</div>
    <form method="POST">
        {% csrf_token %}
        <div class="field">
            <label class="label">Password</label>
            <div class="control" id="password-container">
            {{form.password}}
            <i id="show-password" class="fa-solid fa-eye" style="color: #222222;"></i>
            </div>
        </div>
        <div class="field">
            <label class="label">Password again</label>
            <div class="control" id="password-container2">
            {{form.password2}}
            <i id="show-password2" class="fa-solid fa-eye" style="color: #222222;"></i>
            </div>
        </div>
        <input type="submit" name="Update password">
    </form>
</div>
{% endblock %}