<!DOCTYPE html>
<form class="form-inline search-form" method="POST" action="{% url 'home' %}">
    {% load static %}
    {% csrf_token %}
    <div class="home-grid">
        <div class="home-grid-filters" id="home-grid-filters">
            <div class="filter-title">Price:</div>
            <input class="form-control mr-sm-2 price-min" type="number" min="0" placeholder="Min" aria-label="min-price" name="min_price" value="{{inputted.min_price}}">
            <input class="form-control mr-sm-2 price-max" type="number" min="0" placeholder="Max" aria-label="Max-price" name="max_price" value="{{inputted.max_price}}">
            <div class="filter-title">Condition:</div> 
            <label class="left-align">
                <div class="checkbox-wrapper-4">
                    {% if inputted.new == "on" %}
                        <input class="inp-cbx" name="new" id="new" type="checkbox" checked/>
                    {% else %}
                        <input class="inp-cbx" name="new" id="new" type="checkbox"/>
                    {% endif %}
                    <label class="cbx" for="new"><span>
                    <svg width="12px" height="10px">
                        <use xlink:href="#check-4"></use>
                    </svg></span><span class="checkbox-label">New</span></label>
                    <svg class="inline-svg">
                        <symbol id="check-4" viewbox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </symbol>
                    </svg>
                </div>
            </label>
            <label class="left-align">
                <div class="checkbox-wrapper-4">
                    {% if inputted.used == "on" %}
                        <input class="inp-cbx" name="used" id="used" type="checkbox" checked/>
                    {% else %}
                        <input class="inp-cbx" name="used" id="used" type="checkbox"/>
                    {% endif %}
                    <label class="cbx" for="used"><span>
                    <svg width="12px" height="10px">
                        <use xlink:href="#check-4"></use>
                    </svg></span><span class="checkbox-label">Used</span></label>
                    <svg class="inline-svg">
                        <symbol id="check-4" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </symbol>
                    </svg>
                    </div>
            </label>
            <label class="left-align">
                <div class="checkbox-wrapper-4">
                    {% if inputted.unknown == "on" %}
                        <input class="inp-cbx" name="unknown" id="unknown" type="checkbox" checked/>
                    {% else %}
                        <input class="inp-cbx" name="unknown" id="unknown" type="checkbox"/>
                    {% endif %}
                    <label class="cbx" for="unknown"><span>
                    <svg width="12px" height="10px">
                        <use xlink:href="#check-4"></use>
                    </svg></span><span class="checkbox-label">Unknown</span></label>
                    <svg class="inline-svg">
                        <symbol id="check-4" viewbox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </symbol>
                    </svg>
                    </div>
            </label>
            <div class="filter-title">Scale:</div>
            {% for display,id in all_scales.items %}
            {{id.on}}
            <label class="left-align">
                <div class="checkbox-wrapper-4">
                    {% if id.on == "on" %}
                        <input class="inp-cbx" name="{{id}}" id="{{id}}" type="checkbox" checked/>
                    {% else %}
                        <input class="inp-cbx" name="{{id}}" id="{{id}}" type="checkbox"/>
                    {% endif %}
                    <label class="cbx" for="{{id}}"><span>
                    <svg width="12px" height="10px">
                        <use xlink:href="#check-4"></use>
                    </svg></span><span class="checkbox-label">{{display}}</span></label>
                    <svg class="inline-svg">
                        <symbol id="check-4" viewbox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </symbol>
                    </svg>
                </div>
            </label>
            {% endfor %}
            <br>
            <button class="btn my-2 my-sm-0 btn-primary search-button" type="submit">Update</button>
        </div>
        <div class="home-grid-main">
            {% csrf_token %}
            <div class="search-container">
                <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search" name="search" value="{{inputted.search}}">
                <div class="search-button-container"><button class="btn my-2 my-sm-0 btn-primary search-button" type="submit">Search</button></div>
                <div class="select is-info">
                    <select id="sorting_method" name="sorting_method" class="sorting-method">
                    <option value="{{inputted.sorting_method}}">{{inputted.sorting_method}}</option>
                    {% for method in inputted.all_sorting_method %} 
                        <option value="{{method}}">{{method}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="average"><div class="average-text">Average Price: £{{average}}</div></div>
            </div>
            {% for result in results %}
                <div class="results-container">
                    <div class="result-bubble">
                        <div class="result-image">
                            <img src="{% static 'images/EbayLogo.png' %}" alt="Ebay Logo" height="100" width="75%">
                        </div>
                        <div class="reuslt-text">
                            <a href="{{result.url}}" target="_blank"><div class="result-title">{{result.name}}</div></a>
                            <div class="results-description">description</div>
                            <div class="result-price">Price: £{{result.price}}</div>
                            <div class="result-price">Shipping: £{{result.shipping_cost}}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</form>