#message-container{
    padding: 20px;
}

.dark{
    background-color: rgb(39, 39, 39)!important;
    color: rgb(175, 175, 175) !important;
    
}

.darkinput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(175, 175, 175)!important;
    opacity: 1!important; /* Firefox */
}
  
.darkinput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(175, 175, 175)!important;
}
  
.darkinput::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(175, 175, 175)!important;
}

html, body{
    height: 100%;
}

.forgot-password{
    font-size: 1rem;
    font-weight: 700;
    color: #007af7;
}

.forgot-password-container{
    padding-top: 12px;
    padding-bottom: 12px;
}

.search-form{
    width: 100%;
}

.home-grid{
    display: grid;
    grid-template-columns: minmax(200px, auto) 1fr !important;
    width: 100%;
    padding: 15px;
}

.home-grid-main{
    width: 100%;
    padding: 10px;
}

.home-grid-filters{
    background-color: rgb(235,235,235 );
    border-radius: 15px;
    padding: 10px;
    height: 600px;
}

.search-input{
    width: 80% !important;
    margin-right: 0 !important;
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-min{
    width: 100px !important;
}

.price-max{
    width: 100px !important;
}

.search-button-container{
    padding-left: 10px;
    padding-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.filter-title{
    font-size: 25px;
    padding: 5px;
}

.pound-sign{
    position: relative;
    top: 2px;
    left: 17px;
}
.new-used-container{
    align-items: left !important;
}
.min-max-container{
    width: 120px;
}

.scale-container{
    width: 200px
}

.checkbox-wrapper-4 * {
    box-sizing: border-box;
}
.checkbox-wrapper-4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
}
.checkbox-wrapper-4 .cbx:not(:last-child) {
    margin-right: 6px;
}
.checkbox-wrapper-4 .cbx:hover {
    background: rgba(0,119,255,0.06);
}
.checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}
.checkbox-wrapper-4 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
}
.checkbox-wrapper-4 .cbx:hover span:first-child {
    border-color: #07f;
}
.checkbox-wrapper-4 .inp-cbx {
    position: absolute;
    visibility: hidden;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
    background: #07f;
    border-color: #07f;
    animation: wave-4 0.4s ease;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.checkbox-wrapper-4 .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}
@media screen and (max-width: 640px) {
.checkbox-wrapper-4 .cbx {
      width: 100%;
      display: inline-block;
    }
  }
  @-moz-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @-webkit-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @-o-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }

.checkbox-label{
    color: black !important;
}
.left-align{
    -webkit-box-align: left !important;
    align-items: left !important;
    -webkit-box-pack: left !important;
    justify-content: left !important;
}

.sorting-method{
    border-color: #007bff !important;
}

.sorting-method:hover{
    border-color: #0069d9 !important;
}

.result-bubble{
    padding: 10px;
    border: 2px solid darkgrey;
    border-radius: 10px;
    color: black !important;
    display: grid;
    grid-template-columns: minmax(200px, auto) 1fr !important;
}

.result-title{
    font-size: 25px !important;
    text-align: center !important;
    font-weight: bold !important;
    color: black !important;
}

.result-price{
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}

.result-image{
    padding-right: 5px;
}

.result-text{
    padding-left: 5px;
}

.results-container{
    padding-bottom: 5px;
}

.average{
    font-size: 1em !important;
    text-align: center !important;
    color: black !important;
    height: 40px;
    margin-left: 10px;
    height: 40px;
    min-width: 200px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.average-text{
    text-align: center;
    vertical-align: middle;
    transform: translate(0, 25%);
}

.results-bottom{
    float: right;
    padding-right: 10%;
    
}

.results-price-save{
    display: grid;
    width: 250px;
    grid-template-columns: 100px 200PX !important;
}

.save-button{
    width: 100px;
    height: 38px;
    margin-top: 22px !important;
    margin-bottom: 0px !important;
}

img{
    max-width:200px;
    max-height:200px;
}