#message-container{
    padding: 20px;
}

.dark{
    background-color: rgb(39, 39, 39);
    color: rgb(175, 175, 175) !important;
    
}

.light{
    background-color: white;
}

html, body{
    height: 100%;
}

.forgot-password{
    font-size: 1rem;
    font-weight: 700;
}

.forgot-password-container{
    padding-top: 12px;
    padding-bottom: 12px;
}